@charset "utf-8";

body,html,p,h1,h2,h3,h4,h5,h6,a,input,table,tr,td,th,form {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.w1190 {
	width: 1190px;
}

.w990 {
	width: 990px;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	color: rgb(233, 128, 254);
	font-family: 微软雅黑;
	font-weight: 900;
	background-color: white;
}

.wrapper {
	margin: 0 auto;
}

.header {
	width: 100%;
	height: 100%;
	height: 200px;
}

.loginstatus {
	width: 100%;
	height: 50px;
}

.logo {
	width: 260px;
	height: 150px;
	float: left;
}

.search {
	float: left;
	width: 630px;
	height: 150px;
}

.qrcode {
	float: right;
	width: 300px;
	height: 150px;
}

.main {
	min-height: 566px;
}

.category {
	height: 366px;
}

.left {
	float: left;
	height: 366px;
	width: 300px;
}

.right {
	float: left;
	height: 366px;
}

.show {
	width: 100%;
	height: 200px;
}

.show ul {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	list-style: none;
}

.show ul li {
	display: inline;
	float: left;
	margin-left: 5px;
	width: 200px;
	height: 200px;
	background-color: black;
}

.footer {
	margin-top: 10px;
	width: 100%;
	height: 40px;
	color: white;
	font-family: 微软雅黑;
	font-size: 16px;
	font-weight: 900;
	background-color: blue;
}

.nav {
	width: 100%;
	height: 5px;
	clear: both;
	overflow: hidden;
}

#banner-login {
	float: left;
	margin-top: 13px;
	margin-left: 5px;
}

a:hover {
	background: #49A3FF;
	color: #FFF
}

li {
	margin: 0px;
	padding: 0px;
}

.banner-login {
	float: left;
	margin-top: 13px;
	margin-left: 5px;
}

.banner-login ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 14px arial
}

.banner-login ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 14px arial
}

.banner-login ul li a {
	display: block;
	margin: 0 1px 0 0;
	padding: 4px 15px;
	width: 60px;
	text-align: center;
	text-decoration: none
}

.banner-login ul li a:hover {
	background: #49A3FF;
	color: #FFF
}

.sddm {
	float: right;
	margin-top: 13px;
	margin-left: 5px;
}

.sddm li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 14px arial
}

.sddm li a {
	display: block;
	margin: 0 1px 0 0;
	padding: 4px 15px;
	width: 60px;
	text-align: center;
	text-decoration: none
}

.sddm li a:hover {
	background: #EAEBD8;
	color: #FFF
}

.sddm div {
	float: left;
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #EAEBD8;
	border: 0px solid #5970B2
}

.sddm div a {
	position: relative;
	display: block;
	margin: 0;
	padding: 5px 17px;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	font: 14px arial
}

.sddm div a:hover {
	background: #49A3FF;
	color: #FFF
}

/* 二手商品分类 */
.t0 {
	margin: 5px;
	padding: 5px 10px 5px 20px;
	font: 24px arial;
	line-height: 24px;
}

.t0 a {
	margin: 5px;
	padding: 0px;
}

.t0 a:link,.t1 a:link {
	
}

.t0 a:hover,.t1 a:hover {
	background: #49A3FF;
	color: #FFF
}

.t1 {
	margin: 5px;
	padding: 5px 10px;
	border-top: 1px solid #ccc;
}

.t1 .tt0 {
	font: 18px arial;
	line-height: 24px;
}

.t1 .tt1 {
	font: 16px arial;
	line-height: 24px;
	padding-left: 14px;
}

/* 二维码 */
#code-site a{
	float:right;
	height: 66px;
	width: 66px;
	display: block;
	margin: 14px;
	padding:20px;
	background: url(http://localhost:8080/Change/html/img/qrcode.png) no-repeat;
}

